@import "../../../styles/global.scss";

.aboutme-container-full {
  width: 100%;
  background-color: $primary-color;
  min-height: calc(100vh - 80px);
  padding: 80px 0px 0px 0px;
  display: flex;
  .aboutme-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .aboutme-text {
      max-width: 50%;
      gap: 45px;
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      img {
        width: 100%;
        height: auto;
      }
      p {
        color: rgba($color: #fff, $alpha: 0.5);
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
      }
      .buttons-container {
        display: flex;
        ul {
          list-style: none;
          width: 100%;
          display: flex;
          gap: 30px;
          justify-content: center;

          li {
            display: flex;
            width: 50%;
            text-align: center;
          }

          li .see-job {
            border-radius: 2px;
            border: none;
            padding: 10px 10px;

            width: 100%;
            background-color: $secundary-color;
            color: rgba($color: #fff, $alpha: 0.7);
            font-weight: 500;

            font-size: 16px;
            cursor: pointer;
          }
          li .contact {
            width: 100%;
            border-radius: 2px;
            border: none;

            padding: 10px 10px;

            background-color: rgba($color: #000000, $alpha: 0.3);
            color: rgba($color: #fff, $alpha: 0.7);
            font-weight: 500;

            font-size: 16px;
            cursor: pointer;
          }
        }
        li .contact:hover,
        li .see-job:hover {
          color: #fff;
          transition: ease-in all 100ms;
        }
        li:hover {
          transform: scale(1.04);
          transition: ease-in all 100ms;
        }
      }
    }
    .aboutme-img {
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: $laptop) {
  .aboutme-container-full {
    .aboutme-container {
      max-width: 85%;
      align-items: center;
      .aboutme-img {
        width: 300px;
        img {
          height: 450px;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .aboutme-container-full {
    .aboutme-container {
      max-width: 85%;
      display: flex;
      flex-direction: column-reverse;
      .aboutme-text {
        max-width: 100%;
        .buttons-container {
          ul {
            flex-direction: column;
            gap: 10px;

            li {
              width: 100%;
            }
          }
        }
      }
      .aboutme-img {
        display: flex;
        justify-content: center;
        img {
          width: auto;
          height: 350px;
          border-radius: 5px;
        }
      }
      .buttons-container {
        flex-direction: column;
        gap: 10px !important;
        button {
          width: 100% !important;
        }
      }
    }
  }
}
