@import "../../../styles/global.scss";

.header-container-full {
  width: 100%;
  background-color: $primary-color;
  height: 80px;

  .header-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .cv-container {
      height: 55%;

      button {
        background-color: $secundary-color;
        color: rgba($color: #fff, $alpha: 0.7);
        height: 100%;
        border: none;
        padding-inline: 40px;
        border-radius: $border-radius1;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: all ease-in 100ms;
        display: flex;
        align-items: center;
        svg {
          font-size: 25px;
          padding-left: 5px;
        }
      }

      button:hover {
        padding-inline: 50px;
        cursor: pointer;
        color: #fff;
        background-color: $secundary-color;
      }
    }

    .logo-container {
      width: auto;
      height: 60%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .nav-links-container {
      display: flex;
      gap: 20px;
      align-items: center;
      font-weight: 600;
      .name {
        color: #fff;
        font-size: 18px;
        padding-right: 20px;
        border-right: 1px solid rgba($color: #fff, $alpha: 0.3);
      }
      .nav-link {
        color: rgba($color: #fff, $alpha: 0.5);
        font-size: 15px;
        transition: all ease-in 100ms;
      }
      .nav-link-none {
        display: none;
      }

      .nav-link:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #fff;
      }
    }
  }
}

@media (max-width: $laptop) {
  .header-container-full {
    .header-container {
      max-width: 90%;

      .cv-container {
        height: 55%;
        button {

          padding-inline: 30px;
          font-size: 16px;
          font-weight: 600;
        }
        button:hover {
          padding-inline: 45px;
        }
      }
      .nav-links-container {
        gap: 15px;
        font-weight: 600;
        .name {
          font-size: 17px;
          padding-right: 15px;
        }
        .nav-link {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  .header-container-full {
    .header-container {
      max-width: 90%;

      .cv-container {
        height: 55%;
        button {

          padding-inline: 14px;
          font-size: 13px;
          letter-spacing: 2px;
        }
        button:hover {
          padding-inline: 14px;
        }
      }
      .nav-links-container {
        gap: 15px;
        font-weight: 600;
        .name {
          display: none;
        }
        .nav-link {
          font-size: 14px;
          color: rgba($color: #fff, $alpha: 0.5);
        }
      }
    }
  }
}
@media (max-width: $movil) {
  .header-container-full {
    .header-container {
      max-width: 90%;

      .cv-container {
        height: 50%;
        button {

          padding-inline: 10px;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1px;

          svg{
            font-size: 18px;
            padding-left: 1px;
          }

        }
        button:hover {
          padding-inline: 10px;
        }
      }
      .nav-links-container {
        gap: 11px;
        font-weight: 600;

        .nav-link {
          font-size: 12px;
          color: rgba($color: #fff, $alpha: 0.5);
        }
      }
    }
  }
}
