@import "../../../styles/global.scss";

.aboutme-container-full {
  width: 100%;
  background-color: $primary-color;
  height: 100%;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);

  .aboutme-container {
    max-width: 1000px;
    margin: auto;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;

    .aboutme-text {
      max-width: 50%;
      gap: 45px;
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      img {
        width: 100%;
        height: auto;
      }
      p {
        color: rgba($color: #fff, $alpha: 0.5);
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
      }
      .buttons-container {
        width: 100%;
        display: flex;
        gap: 30px;

        button {
          border-radius: 2px;
          border: none;
          width: 50%;
          padding: 10px 0px;

          font-size: 16px;
          cursor: pointer;
        }

        .contact {
          background-color: rgba($color: #000000, $alpha: 0.3);
          color: rgba($color: #fff, $alpha: 0.7);
          font-weight: 400;
        }
        .see-job {
          background-color: $secundary-color;
          color: rgba($color: #fff, $alpha: 0.7);
          font-weight: 500;
        }

        button:hover {
          color: #fff;
          transform: scale(1.04);
          transition: ease-in all 100ms;
        }
      }
    }
    .aboutme-img {
      img {
        width: 300px;
        height: 500px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: $laptop) {
  .aboutme-container-full {
    .aboutme-container {
      max-width: 85%;
    }
  }
}

@media (max-width: $tablet) {
  .aboutme-container-full {
    .aboutme-container {
      max-width: 85%;
      display: flex;
      flex-direction: column-reverse;
      padding: 50px 0px;
      .aboutme-text {
        max-width: 100%;
      }
      .aboutme-img {
        display: flex;
        justify-content: center;
        img {
          width: auto;
          height: 500px;
          border-radius: 5px;
        }
      }
      .buttons-container {
        flex-direction: column;
        gap: 10px !important;
        button{
          width: 100% !important;
        }
      }
    }
  }
}
